* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    position: relative;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 100px 100px;
    background: lightskyblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    color: white;
    user-select: none;
    border-radius: 50%;
    transition: transform 2s ease;
    position: absolute;
    top: 100%;
    left: 30%;
    transform: translate(75%, -50%);
    transition: transform 1s ease;
}

.logo:hover {
    transform: translate(75%, -50%) scale(1.1);
}

.navigationHeader a {
    position: relative;
    font-size: 2em;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    margin-left: 0px;
}

.navigationHeader a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 50%;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigationHeader a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.motto {
    color: white;
    font-size: 30px;
    font-weight: bolder;
    margin-left: 650px;
    width: 30%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(30), cursor 1s step-end infinite alternate;
    transition: transform 2s ease;
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
}

.motto:hover {
    transform: scale(1.2);
}

.time {
    position: fixed;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    white-space: nowrap;
    z-index: 999;
}

.contactUs {
    position: relative;
    left: 400px;
    top: 360px;
}


table {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
}

table::hover{
    background-color: lightskyblue;
}

td {
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
}

td h2 {
    position: relative;
    bottom: 50px;
    font-size: 24px;
    font-weight: bold;
    color: black;
}

td b {
    position: relative;
    font-size: 18px;
    color: black;
    bottom: 10px;
}

td a {
    color: black;
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
}

td img {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
}